header {
    color: white;
    background-image: linear-gradient(to right, rgb(102, 181, 208) , rgb(34, 34, 150));
    text-align: center;
    height: 12vh;
}

header h1 {
    padding: 1% 0%;
}

.left {
    min-height: 100vh;
}

.left form {
    border-bottom: 2px solid black;
    padding-bottom: 5%;
    padding-left: 3%;
}

#historyCities {
    padding-top: 5%;
    padding-left: 3%;
}

.right {
    min-height: 100vh;
}

#weatherBlock {
    border: 2px solid rgb(58, 64, 80);
    border-radius: 10px;
}

.displayIcon {
    display: flex;
}

img {
    max-height: 50%;
    max-width: 50%;
}

#cityDate {
    margin: 0%;
    padding: 4% 0% 0% 0%;
}

/* for UV index: favorable: 0-2/ moderate: 3-5/ severe: 6+ */
.low {
    background-color: green;
    color: white;
    padding: 0.5% 2%;
    border-radius: 3px;
}

.moderate {
    background-color: yellow;
    color: black;
    padding: 0.5% 2%;
    border-radius: 3px;
}

.high {
    background-color: red;
    color: white;
    padding: 0.5% 2%;
    border-radius: 3px;
}

#forecastBlock {
    padding-top: 3%;
}

.forecastDeck div {
    background-color: rgb(103, 115, 145);
    color: white;
    padding: 1% 1% 2% 1%;
}
